@model ProjetoVendas2.Models.Venda

@{
    ViewData["Title"] = "Venda";
    Layout = null;
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<h1>Detalhes</h1>

<div>
    <h4>Venda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2" >
            @Html.DisplayNameFor(model => model.VendaValorTotal) <br />
            @Html.DisplayFor(model => model.VendaValorTotal)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendaData) <br />
            @Html.DisplayFor(model => model.VendaData)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente) <br />
            @Html.DisplayFor(model => model.Cliente.ClienteNome)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor) <br />
            @Html.DisplayFor(model => model.Vendedor.VendedorNome)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pagamento) <br />
            @Html.DisplayFor(model => model.Pagamento.PagamentoForma)
        </dt>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <h3>Produtos da Venda</h3>
            </th>
            <th>
                <h3>Quantidade</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProdutosList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.ProdutoNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.ProdutoQuantidade)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
