@model IEnumerable<ProjetoVendas2.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<div class="info">
    <h1>Clientes</h1>

    <p>
        <a asp-action="Create">Cadastrar</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClienteNome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClienteTelefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClienteEmail)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClienteNome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClienteTelefone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClienteEmail)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Exluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

