@model IEnumerable<ProjetoVendas2.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<div class="info">
    <div class="info">
        <h1>Produtos</h1>

        <p>
            <a asp-action="Create">Cadastrar</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProdutoNome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProdutoPreco)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProdutoQuantidade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Categoria)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fornecedor)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProdutoNome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProdutoPreco)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProdutoQuantidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categoria.CategoriaNome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fornecedor.FornecedorNome)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Exluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

